<ion-view style="background-color: #272733;" can-swipe-back="false">

    


        <div style="width:40%; top:100px; left:5%; position: absolute;">
            <p style="color:white" >Books to buy(click to add to basket)</p>
            <ion-list>
                <ion-item ng-click="vm.addToBasket(book)" ng-repeat="book in vm.bookList">
                    {{book.title}}
                </ion-item>
            </ion-list>

        </div>
        <div style="width:40%; top:100px; right:5%; position: absolute;">
            <p style="color:white">Basket(click to remove from basket)</p>
            <ion-list>
                <ion-item ng-click="vm.removeFromBasket(book)" ng-repeat="book in vm.basket">
                    {{book.title}}
                </ion-item>
            </ion-list>

        </div>

        <div>
            <ion-item>
                {{vm.total}}
            </ion-item>

        </div>

        

    </ion-content>

    

</ion-view>